:root {
	--branco-principal: #FFFFFF;
	--cinza-secundario: #c0c0c0;
	--botao-azul: #167BF7;
	--botao-azul-efeito:#3C92fA;
	--cor-de-fundo: #00030C;
	--fonte-principal: 'Inter'

}

body{
	background-color: var(--cor-de-fundo);
	color:var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size: 16px;
	font-weight: 400;
}

*{
	margin: 0;
	padding: 0;
}



/* INICIO PRINCIPAL */
.principal{
	background-image: url("imagens/Background.png");
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
	text-align: center;

}

.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.container__caixa{
	margin: 0 6em;
}

.container__botao{
	display: block;
	text-decoration: none;
	margin-bottom: 1em;
	background-color: var(--botao-azul);
	border-radius: 5px;
	padding: 1em;
	color: var(--branco-principal);
}

.container__botao:hover{
	background-color: var(--botao-azul-efeito);
}

.botao_secundario{
	border: 2px solid var(--branco-principal);
	background: transparent;
}

.container__titulo{
	font-size: 28px;
	font-weight: 700;
}

.container__aviso{
	font-size: 12px;
	color: var(--cinza-secundario);
}


.container__imagem{
	margin: 1em 0 2em 0;
}

/* FIM PRINCIPAL */

/* INICIO SECUNDARIO */

.secundario{
	align-items: center;
	margin: 0 6em;
}

.secundario__imagem{
	width: 50%;
}

.descricao__titulo{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 0.1em;
}

.descricao__texto{
	color: var(--cinza-secundario);
}

/* FIM SECUNDARIO */

/* INICIO TERCIARIO */

.secundario_botao{
	display: inline-block;
	margin-top: 1em;
}

.container__descricao{
	padding: 1.5em;
}

/* FIM TERCIARIO  */



/* INICIO DISPOSITIVOS */
.dispositivos{
	text-align: center;
}

.dispositivos__titulo{
	font-size: 48px;
	color: var(--branco-principal);
}

.dispositivos__listas{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 5em 0;
}

.lista_item{
	font-size: 32px;
	color: var(--branco-principal);
}

/* FIM DOS DISPOSITIVOS */

/* INICIO RODAPE */

.rodape{
	text-align: center;
	margin: 5em 3em;

}

.rodape__logo{
	margin-top: 10em;
	margin-bottom: 2em;
}
.rodape_lista{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 1em;

}

.rodape__link{
	padding: 0.5em 0.5em;
}

.rodape__link a{
	text-decoration: none;
	color: var(--branco-principal);
	margin-left: 0.5em;
}

.rodape__link a:hover{
	color: var(--botao-azul);
}

.rodape__link a:active{
	color: var(purple);
}


.rodape__texto{
	font-size: 14px;
	color: var(--cinza-secundario);
	margin: 1em 0em;
}


/* FIM RODAPE */
@media screen and (max-width:  480px){
}